.projectTag {
    font-weight:500; /* semi bold */
    border-radius: 3em;
    background-color: #362bcc;
    color: white;
    font-size: small;
    padding: 0.5em;
    width: fit-content;
}

.projectTagBox {
    display: inline-flex;
    column-gap: 0.3em;
    row-gap: 0.3em;
    flex-wrap: wrap;
    max-height: 5em;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.projectDescriptionBox {
    background-color: white;
    border-radius: 1em;
    padding: 1em;
    width: 20em;
    list-style: none;
}

.projectTitle {
    font-size: 20pt;
    font-weight: 500;
    color: black;
}

.projectDescription {
    font-size: 15pt;
    color: blueviolet;
    scroll-behavior: auto;
    max-height: 20em;
    overflow-y:scroll;
}

.projectsPanel {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
    row-gap: 1em;
    align-content: center;
    align-items: top;
    justify-content: center;
}