.navBar {
    position:fixed;
    top:0;
    width: 100%;
    background-color: white;
    margin-bottom: 10;
}

.navBarItem {
    float: left;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    margin: 10px;
}

.hover {
    background-color: pink;
    color: blue;
    font-size: xx-large;
}